<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pet Clinic</title>
    <script src="/js/navegacion.js" defer></script>
    <link rel="stylesheet" type="text/css" href="/css/estilosapp.css">
  </head>
  <body>
    <main class="PaginaPrincipal">
    <header></header>
    <nav></nav>
    <section>
      <img class="logo fade-in" src="/img/logo-petclinic.png" />
      <img class="img-centrado fade-in" src="/img/perro.png" />
      <button onclick="citaPetclinicRegistro()"><img src="/img/pata.png" /></button>
    </section>
</main>
  </body>
</html>
